<% content_for :title do %>Hub Version 1 Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Frontend" data-text="Smoke Test" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Backend" data-text="Smoke Test" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Frontend" data-text="Build Test" data-moreinfo="Last built by Steven Wilson"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Backend" data-text="Build Test" data-moreinfo="Last built by Steven Wilson"></div>
    </li>
  </ul>
</div>
